<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Grocery Price Tracker</title>
  <meta name="description" content="">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script type='text/javascript' src='/js/highcharts.js'></script>

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">


</head>
<body>
  {{> header}}
  {{{body}}}
</body>
</html>
