<div class='container'>
  <div class='row'>
    <div class='col-sm-10 col-sm-push-1'>
      <div class='block'>
        <p>Grocery Price Tracker API v0.0.1</p>
      </div>
    </div>
  </div>
</div>
