html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #EFEFEF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.7);
}

h3, h2, h1 {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 820px;
  margin: auto auto;
  position: relative;
  padding: 0 12px;
}

.block {
  position: relative;
  z-index: 1;
  background: #fff;
  transition: none;
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 4px;
  margin: 24px 0 24px 0;
  padding: 12px;
}
